Source: ser-player
Maintainer: Chris Garry <astropipp@gmail.com>
Section: video
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: ser-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A video player and processing utility for SER files.
 The SER file format can be used to store data from fast frame rate astronomy
 cameras intead of using the AVI file format.  This application enables users to
 review SER files in the same way that AVI files are reviewed with a video
 player.
