[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SER Player
Name[da]=SER Afspiller
Comment=A video player and processing utility for SER files
Comment[da]=En video afspiller og billedprocessing utility for SER format
Comment[fr]=Un utilitaire de lecture et de traitement de vidéos SER
Exec=ser-player %f
Icon=././/share/app-install/icons/ser-player.png
MimeType=video/ser;
Terminal=false
Categories=Video;AudioVideo
