[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SER Player
Name[da]=SER Afspiller
Name[fr]=Lecteur SER
Comment=A video player and processing utility for SER files
Comment[da]=En video afspiller og billedprocessing utility for SER format
Comment[de]=Video Player und Verarbeitungswerkzeug für SER-Dateien
Comment[es]=Un reproductor de Video y utilidad de procesamiento para archivos SER
Comment[fr]=Un utilitaire de lecture et de traitement de vidéos SER
Exec=ser-player %f
Icon=././/share/app-install/icons/ser-player.png
MimeType=video/ser;
Terminal=false
Categories=Video;AudioVideo
